@use "@littlemissrobot/sass-system/colors" as _colors;
@use "@littlemissrobot/sass-system/spacing" as _spacing;
@use "@/scss/settings/z-index" as z-index;
@use "@/scss/settings/borders" as borders;
@use "@/scss/settings/fonts" as fonts;

// =============================================================================
// Block
// =============================================================================
.c-background-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
