@use "@littlemissrobot/sass-system/colors" as _colors;
@use "@littlemissrobot/sass-system/spacing" as _spacing;
@use "@littlemissrobot/sass-system/typography" as _typography;
@use "@littlemissrobot/sass-system/breakpoints" as _breakpoints;

// =============================================================================
// Block
// =============================================================================
.c-image-cta {
	background-color: _colors.set("brand primary");
}

// =============================================================================
// Elements
// =============================================================================
.c-image-cta__image-container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@include _breakpoints.to("vp-9") {
		height: _spacing.step(50);
	}
}

.c-image-cta__content {
	position: relative;

	padding: _spacing.step(10);

	@include _breakpoints.at("vp-9") {
		padding: _spacing.step(18) _spacing.step(30) _spacing.step(18)
			_spacing.step(20);
	}

	&::after {
		content: "";

		position: absolute;
		right: _spacing.step(6);
		bottom: _spacing.step(-10);

		display: block;
		width: _spacing.step(19);
		height: _spacing.step(19);

		background-image: url("~@/assets/images/logo-small-circle.svg");
		background-repeat: no-repeat;

		@include _breakpoints.at("vp-9") {
			right: _spacing.step(-8);
			bottom: _spacing.step(-8);
		}
	}
}

.c-image-cta__title {
	color: _colors.set("brand secondary");
}

.c-image-cta__text {
	margin-top: _spacing.step(4);
}

.c-image-cta__button {
	margin-top: _spacing.step(8);
}
