// @use "@littlemissrobot/sass-system/utils/padding" with (
// 	$utils: (),
// 	$at: (),
// 	$to: ()
// );

@use "@littlemissrobot/sass-system/utils/padding-top" with (
	$utils: (4, 8, 20),
	$at: (
		"vp-7": (10,),
		"vp-9": (30, 40),
	)
);

// @use "@littlemissrobot/sass-system/utils/padding-right" with (
// 	$utils: (),
// 	$at: (),
// 	$to: ()
// );

@use "@littlemissrobot/sass-system/utils/padding-bottom" with (
	$utils: (20,),
	$at: (
		"vp-9": (60,),
	)
);

// @use "@littlemissrobot/sass-system/utils/padding-left" with (
// 	$utils: (),
// 	$at: (),
// 	$to: ()
// );
