$family-primary: ("Open Sans", "Helvetica", "Arial", sans-serif);

// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
$weight-extra-black: 950; // extra-black/ultra-black
$weight-black: 900; // black/heavy
$weight-extra-bold: 800; // extra-bold/ultra-bold
$weight-bold: 700;
$weight-semi-bold: 600; // semi-bold/demi-bold
$weight-medium: 500;
$weight-normal: 400; // normal/regular
$weight-light: 300;
$weight-extra-light: 200; // extra-light/ultra-light
$weight-thin: 100; // thin/hairline
