/**
 * Config file for compiling the @littlemissrobot/sass-container package.
 * https://www.npmjs.com/package/@littlemissrobot/sass-container
 */

@use "@littlemissrobot/sass-system/container" with (
	$layout: 12,
	$max-width: 1440px,
	$auto-generate: true
);

@use "@littlemissrobot/sass-system/container/columns" with (
	$columns: (12,),
	$at: (
		"vp-9": (6, 8, 10,),
	),
	$to: (
		"vp-7": (12,)
	)
);

@use "@littlemissrobot/sass-system/container/default-spacing" with (
	$default-spacing: (
		vp-0: 4,
		vp-7: 6,
		vp-9: 10,
		vp-12: 20
	),
	$at: ( "vp-7",),
	$to: ( "vp-7",),
);

// @use "@littlemissrobot/sass-container/spacing" with (
// 	$spacing: (),
// 	// $at: (),
// 	// $to: ()
// );
