/**
 * Config file for compiling the @littlemissrobot/sass-grid package.
 * https://www.npmjs.com/package/@littlemissrobot/sass-grid
 */

@use "@littlemissrobot/sass-system/grid" with (
	$layout: 12,
	$auto-generate: true
);

@use "@littlemissrobot/sass-system/grid/columns" with (
	$columns: (10, 12,),
	$at: (
		"vp-7": (6,),
		"vp-9": (3, 4, 5, 6, 7, 8),
		"vp-12": (3,),
	),
);

@use "@littlemissrobot/sass-system/grid/left-offsets" with (
	$offsets: (2,),
	$at: (
		"vp-9": (1, 2),
		"vp-12": (1, 2)
	)
);

// @use "@littlemissrobot/sass-system/grid/right-offsets" with (
// 	$offsets: (),
// 	$at: ()
// );

@use "@littlemissrobot/sass-system/grid/default-spacing" with (
	$default-spacing: (
		vp-0: 4,
		vp-4: 8,
		vp-9: 10,
	),
	// $at: (),
	// $to: ()
);

// @use "@littlemissrobot/sass-system/grid/spacing" with (
// $spacing: (),
// $at: (),
// $to: ()
// );

// @use "@littlemissrobot/sass-system/grid/column-spacing" with (
// 	$spacing: (),
//	$at: (),
//	$to: ()
// );

// @use "@littlemissrobot/sass-system/grid/row-spacing" with (
// 	$spacing: (),
//	$at: (),
//	$to: ()
// );

@use "@littlemissrobot/sass-system/grid/align" with (
	$align: (top, center),
);

@use "@littlemissrobot/sass-system/grid/align-columns" with (
	$align: (middle,),
);

// @use "@littlemissrobot/sass-system/grid/order" with (
// 	$order: (),
//	$at: (),
//	$to: ()
// );
