// =============================================================================
// Block
// =============================================================================
.p-contact {
	display: flex;
	flex-direction: column;
	flex: 1;
}

// =============================================================================
// Elements
// =============================================================================
.p-contact__map {
	flex: 1;
}
