@use "@littlemissrobot/sass-system/colors" as _colors;
@use "@littlemissrobot/sass-system/spacing" as _spacing;
@use "@littlemissrobot/sass-system/typography" as _typography;
@use "@littlemissrobot/sass-system/breakpoints" as _breakpoints;

// =============================================================================
// Block
// =============================================================================
.c-team-cta {
	@include _breakpoints.at("vp-7") {
		height: _spacing.step(100);
	}
}

// =============================================================================
// Elements
// =============================================================================
.c-team-cta__link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: _spacing.step(8) _spacing.step(6);

	text-decoration: none;

	background-color: _colors.set("brand secondary");

	transition: background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1);

	@include _breakpoints.at("vp-7") {
		padding: _spacing.step(12) _spacing.step(6);
	}

	&:hover {
		background-color: _colors.set("brand primary");

		.c-team-cta__button,
		.c-team-cta__icon,
		.c-team-cta__title {
			color: _colors.set("brand secondary");
		}
	}
}

.c-team-cta__title,
.c-team-cta__button,
.c-team-cta__icon {
	color: _colors.set("brand quarternary");

	transition: color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.c-team-cta__button {
	@include _typography.set("label");

	display: flex;
	align-items: center;

	@include _breakpoints.to("vp-7") {
		margin-top: _spacing.step(8);
	}
}

.c-team-cta__icon {
	width: _spacing.step(6);
	height: _spacing.step(6);
	margin-left: _spacing.step(2);
}
