@use "@littlemissrobot/sass-system/spacing" as _spacing;
@use "@littlemissrobot/sass-system/colors" as _colors;
@use "@littlemissrobot/sass-system/typography" as _typography;

// =============================================================================
// Elements
// =============================================================================
.c-indicator {
	@include _typography.set("indicator");

	padding: _spacing.step(1) _spacing.step(2);

	border-radius: _spacing.step(4);
	background-color: _colors.set("brand secondary");
	color: _colors.set("neutral 100");
}
