@use "./settings/fonts" as fonts;

$green-6: hsl(173, 86%, 6%);
$green-15: hsl(175, 95%, 15%);
$pink-85: hsl(12, 37%, 85%);
$yellow-60: hsl(39, 83%, 60%);
$orange-57: hsl(18, 67%, 57%);
$beige-90: hsl(37, 43%, 90%);

$grey-86: hsl(45, 6%, 86%);
$white-100: hsl(0, 0%, 100%);

/**
 * Set the design tokens: spacing, colors, typography and breakpoints ready for
 * the sass-system library.
 * https://www.npmjs.com/package/@littlemissrobot/sass-system
 */

// stylelint-disable length-zero-no-unit
@use "@littlemissrobot/sass-system" as _system with (
	$spacing: (
		baseline: 4px,
		base-font-size: 16px,
	),
	$breakpoints: (
		viewports: (
			vp-0: 0px,
			vp-3: 320px,
			vp-4: 480px,
			vp-7: 720px,
			vp-9: 992px,
			vp-12: 1200px,
		),
	),
	$colors: (
		palette: (
			brand: (
				primary: $pink-85,
				secondary: $orange-57,
				tertiary: $green-15,
				quarternary: $beige-90,
			),
			neutral: (
				base: $green-6,
				"80": $grey-86,
				"100": $white-100,
			),
		),
	),
);
// stylelint-enable length-zero-no-unit

@use "@littlemissrobot/sass-system/spacing" as _spacing;

/**
 * Typography is loaded after the sass-system because it utilizes some of its
 * functions.
 */
@use "@littlemissrobot/sass-system/typography" as _typography with (
	$styles: (
		h1: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-bold,
			font-size: _spacing.rem(36px),
			line-height: _spacing.rem(46px, false),
			vp-7: (
				font-size: _spacing.rem(47px, false),
				line-height: _spacing.rem(51px, false),
			)
		),
		h2: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-bold,
			font-size: _spacing.rem(25px, false),
			line-height: _spacing.rem(38px, false),
			vp-7: (
				font-size: _spacing.rem(36px),
				line-height: _spacing.rem(46px, false),
			)
		),
		h3: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-bold,
			font-size: _spacing.rem(22px, false),
			line-height: _spacing.rem(32px),
			vp-7: (
				font-size: _spacing.rem(27px, false),
				line-height: _spacing.rem(36px),
			)
		),
		h4: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-bold,
			font-size: _spacing.rem(16px, false),
			line-height: _spacing.rem(23px, false),
			vp-7: (
				font-size: _spacing.rem(21px, false),
				line-height: _spacing.rem(30px, false),
			)
		),
		h5: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-bold,
			font-size: _spacing.rem(15px, false),
			line-height: _spacing.rem(15px, false),
		),
		h6: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-bold,
			font-size: _spacing.rem(19px, false),
			line-height: _spacing.rem(28px),
		),
		p: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-normal,
			font-size: _spacing.rem(18px, false),
			line-height: _spacing.rem(32px),
		),
		strong: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-bold,
			font-size: _spacing.rem(18px, false),
			line-height: _spacing.rem(32px),
		),
		small: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-normal,
			font-size: _spacing.rem(16px),
			line-height: _spacing.rem(26px, false),
		),
		quote: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-normal,
			font-size: _spacing.rem(32px),
			line-height: _spacing.rem(40px),
			vp-7: (
				font-size: _spacing.rem(41px, false),
				line-height: _spacing.rem(56px),
			)
		),
		label: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-bold,
			font-size: _spacing.rem(16px),
			line-height: _spacing.rem(32px),
			text-transform: uppercase,
			letter-spacing: _spacing.rem(1px, false),
		),
		intro: (
			font-family: fonts.$family-primary,
			font-weight: fonts.$weight-normal,
			font-size: _spacing.rem(20px),
			line-height: _spacing.rem(28px),
		)
	),
);
