@use "@littlemissrobot/sass-system/colors" as _colors;
@use "@littlemissrobot/sass-system/spacing" as _spacing;
@use "@littlemissrobot/sass-system/breakpoints" as _breakpoints;

// =============================================================================
// Block
// =============================================================================
.c-map {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: _spacing.rem(600px);

	background-color: _colors.set("brand tertiary");
	background-image: url("~@/assets/images/map.svg");
	background-size: auto 60%;
	background-position: _spacing.rem(-100px) top;
	background-repeat: no-repeat;

	@include _breakpoints.at("vp-7") {
		min-height: _spacing.rem(800px);

		background-size: auto 100%;
		background-position: _spacing.rem(-200px);
	}
}

// =============================================================================
// Elements
// =============================================================================
.c-map__image {
	position: relative;

	flex: 1;
}

.c-map__info {
	position: absolute;
	right: 0;
	bottom: 0;
}
