// =============================================================================
// Block
// =============================================================================
.p-default {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

// =============================================================================
// Elements
// =============================================================================
.p-default__main {
	flex: 1;
}
